@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Muli:wght@200;300;400&display=swap');
html,body{
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  font-size: 16px;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: Hiragino Kaku Gothic Pro W6;
  font-family: 'Muli', sans-serif;
}

a{
  color: none;
  outline: none;
  text-decoration: none;
}

h1{
  /* width: 100%; */
  font-size: 1.4em;
  margin: 0;

  
}
/* hero section */
#main-header-container{
  background: 
  /* black overlay */ linear-gradient(
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0)
    ),
    /* bottom, image */ url("assets/header.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}

#logo-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  width: 100%;
  height: 100%;
  align-items: center;
  color: white;
}

#intro-container{
  
}

#logo{
  align-items: center;
  width: 100%;
  max-width: 200px;
  height: 243px;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
#social-media-container{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  /* flex-wrap: wrap; */
  width: 100%;
  /* position: absolute; */
  /* bottom: 0%; */
  /* left: 1%; */
  /* max-width: 40px; */
  min-width: 40px;
  height: 100%;
  
  /* margin-right: 15%; */

}

#social-media-container a{
  margin-right: 1%;
  max-width: 40px;
  
}

#navbar-container{

  display: none;
  position: fixed;
  right: 1%;
  top: 1%;
  width: 100%;
  /* height: 100%; */
  z-index: 100;
}

.social-media-icons{
  width: 100%;
  margin-top: 5px;
  max-width: 40px;
  min-width: 40%;
  cursor: pointer;
  position: relative;
  top: 0px;
  transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);

}

.social-media-icons:hover{
  position: relative;
  top: 8px;
}

#blue-navbar{
  
  height: 110px;
  width: 100%;
  /* z-index: 100; */
  /* background: #73D3D2; */
  bottom: 0;
  position: absolute;
  
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

}

#dots-image{
  position: absolute;
  width: 20%;
  right: 15%;
  top: 9%;
}

#see-more-text{
  background-color: #FF8900;
  transform: rotate(90deg);
  color: white;
  padding-left: 10px;
  padding-right: 10px;
}

/* video section */
#video-section-container{
  /* background-color: #73D3D2; */
  background: linear-gradient(#73D3D2, white);
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 2em;
  

  /* margin-bottom: 6%; */
  padding: 20%;
  padding-top: 5%;
  

}

#video-header-container{
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 10%;
  margin-bottom: 0%;
}

#iframe-container{
  position: relative;
  width: 100%;
  padding-bottom: 55.25%;
  /* -webkit-box-shadow: 2px 3px 4px 1px #b6b6b6; */
  /* box-shadow: 2px 3px 4px 1px #b6b6b6; */
}

#iframe-container iframe{
  position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.orange-text{
  color: #FF8900;
}

/* gallery section */
#gallery-main-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 10%;
}

.image-children{
  width: 100%;
  max-width: 300px;
  
}



/* contact */
#main-contact-container{
    padding: 10% 20% 5% 20%;
    
    /* margin-top: 10%; */
    padding-top: 10%;

    background-color: #f4f4f3;
    
}

img{
user-drag: none; 
user-select: none;
-moz-user-select: none;
-webkit-user-drag: none;
-webkit-user-select: none;
-ms-user-select: none;
}

.svg-container{
  width: 100%;
}
.contact-paragraphs{
  margin-bottom: 10%;
}

#form-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  
}

#input-container{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  /* height: 140px; */
}

input,textarea{
  
  outline: none;
  border-radius: 10px;
  border: 1px solid rgb(179, 179, 179);
  margin-top: 2%;
  border: none;
}

input{
  
  height: 20px;
  padding: 1%;
  padding-left: 3%;
  
  
}
textarea{
  resize: none;

  padding: 3%;
  /* margin-left: 5%; */
  height: 150px;
  
}

#bottom-bar{
  height: 200px;
  background-color: #73D3D2;
}

::placeholder{
  color: #ccc;
}

@media only screen and (max-width: 600px){
  h1{
    font-size: 0.9em;
    width: 100%;
  }



  .svg-container{
    width: 100%;
  }
  #form-container{
    flex-wrap: wrap;
  }

  #input-container{
    /* height: 110px; */
  }

  textarea{
    margin-top: 5%;
    margin-left: 0;
    height: 200px;
  }
}

/* contact button */
#contact-button-container{
  text-align: left;
  margin-top: 5%;
}

#contact-button{
  color: #FF8900;
  border: none;
  font-weight: bold;
  font-size: 1em;
  cursor: pointer;
  outline: none;
  background: none;
}

/* navbar */
#navbar-list{
  padding: 0;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin: 0 auto;
  padding-top: 2%;
  padding-bottom: 2%;
  z-index: 100;
  border-bottom: 0px solid #FF8900;
  transition: 0.2s ease-in-out;
  color: white;
}


#navbar-list:hover{
  /* border-bottom: 5px solid #FF8900; */
}

#navbar-list li{
  /* background-color: red; */
  /* color: white; */
  font-size: 1em;
  list-style: none;
  padding-right: 50%;
  text-decoration: none;
  width: 100%;
  margin: 0 auto;
  font-family: futura;
}



#navbar-list a, .slidebar-menu-items a{
  color: rgb(0, 0, 0);
  color: white;
  opacity: 1;
  text-decoration: none;
  transition: 0.2s ease-in-out;
  opacity: 1;
}

.Nav_Link{
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  padding: 1%;
  color: white;
  transition: 0.2s;
}

.Nav_Link:hover{
  opacity: 0.5;
}

#navbar-list a:hover{
  opacity: 0.5;
}

.activeRoute{
  color: #FF8900 !important;
  opacity: 1 !important;
}

/* hamburger menu */
.hamburger-container{
  display: block;
  /* position: fixed; */
  top: 1%;
  right: 1%;
  z-index: 500;
  /* border-radius: 3px; */
  background: #ff6200;
  background: #aef7ff;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  z-index: 1000;
  /* box-shadow: 1px 1px 2px 1px #56797d; */
  /* border: 1px solid #07BEB8; */
}

.hamburger-container > div{
  /* display: flex;
  justify-content: center;
  align-items: center;
  width: 100% !important;
  height: 100% !important; */
}

.ham-nav-items{
  display: none;
  position: fixed;
  top: 0;
  z-index: 100;
  margin: 0 auto;
  padding: 0;
  height: 100%;
  background: #aef7ff;
  right: -100%;
  width: 100%;
  z-index: 100;
  
}


.slidebar-list-container{
  display: flex;
  justify-content: center;
  height: 100%;
  flex-direction: column;
  /* background: #99faf9; */
}
.slide-in{
  width: 100%;
  right: 0;
  display: block;
  animation: slide-in ease-in-out;
  animation-duration: 0.2s;
}

.slide-none{
  display: none;
}



.slide-out{
  width: 100%;
  display: block;
  animation: slide-out ease-in-out;
  animation-duration: 0.2s;
}

#slidebar-list{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 100%;
  text-align: center;
  
}

.slidebar-menu-items{
  height: 100%;
  width: 100%;
  /* background: #99faf9; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* transition: 0.3s ease-in-out; */
}

.slidebar-menu-items a{
  height: 100%;
  width: 100%;
  font-size: 2.0em;
}



.slidebar-menu-items:hover{
  background-color: #c4fffe;
  background-color: #34F6F2;
}

.hamburger-circle{
  /* border-radius: 100px; */
  /* animation: toCircle ease-in-out; */
  animation-duration: 0.2s;
  background-color: #aef7ff;
}

.hamburger-square{
  border-radius: 0px;
  /* animation: toSquare ease-in-out; */
  animation-duration: 0.2s;
  background-color: #aef7ff;
}

/* hamburger icon */
@keyframes toCircle{
  0%{
    border-radius: 0px;
    background-color: #aef7ff;
  }
  100%{
    border-radius: 30px;
    /* background-color: #d9fbff; */
    background-color: #aef7ff;
  }
}

@keyframes toSquare{
  0%{
    border-radius: 30px;
    background-color: #aef7ff;
  }
  100%{
    border-radius: 0px;
    background-color: #aef7ff;
    
  }
}

/* nav slide */
@keyframes slide-in{
  0%{
    right: -100%;
    
  }
  100%{
    right:0%;
    
  }
}

@keyframes slide-out{
  0%{
    right: 0;
  }
  100%{
    right:-100%
  }
}


#vanilla-nav-container{
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: flex-end;
  z-index: 100;
  top: 3%;
  right: 3%;
  font-family: futura;
}


@media only screen and (max-width: 800px){
    #social-media-container{
      display: flex;
    }

    #vanilla-nav-container{
      display: none;
    }

    #main-contact-container{
      margin-top: 0;
      padding: 20% 15% 5% 10%;
    }
    #about-container{
      padding: 15% !important;
    }
    #social-container{
      padding: 15% !important;
    }
    #brand-carousel{
      padding: 15% !important;
    }

    .counter-children{
      margin-top: 30%;
    }

    #community-container{
      display: none !important;
    }




    .hamburger-container{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 50px;
      z-index: 1000;
      order: 1;
    }

    #social-media-container{
      flex-direction: column;
      order: 2;
    }

    #social-media-container a{
      margin: 0 auto;
    }


    #navbar-container{
      display: flex;
      flex-direction: column;
      width: fit-content;
      height: 100%;
    }
    #navbar-list{
      display: none;
    }

    .slide-in{
      /* width: 100%; */
    }
}


/* animations */
#animation-container{
  display: none;
  /* position: absolute; */
  position: absolute;
  background: #73D3D2;
  width: 100vw;
  height: 100vh;
  z-index: 250;
  /* display: none; */
  justify-content: center;
  align-items: center;
}

#animation-container img{
  width: 100%;
  max-width: 200px;
  /* height: 243px; */
}

.animation-fade-in{
  display: flex;
  animation: fade-in;
  animation-duration: 2s;
  display: flex !important;
  opacity: 1;
}

#animation-logo-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.animation-fade-out{
  animation: fade-out ease-in-out;
  animation-duration: 1.0s;
  opacity: 0;
}

@keyframes fade-in{
  0%{
    opacity: 0;
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}




.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}

/* image fade in */
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* comment */

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.color{
  background-color: #73D3D2;
  height: 100vh;
}


#about-container{
  background-color: #f4f4f3;
  height: 100%;
  padding: 10%;
}

#about-container p{
  /* margin: 0 auto; */
}

#about-parent-container{
  /* background-color: #73D3D2; */
  color: white;
  font-size: 2em;
  color: white;
  /* background-color: #73D3D2; */
  font-family: 'Lato', sans-serif;
  font-family: 'Muli', sans-serif;
  font-weight: 100;
  /* padding: 10%; */
}


#social-container hr{
  width: 50%;
  background-color: #73D3D2;
}

hr{
  background-color: white;
  border: 1px solid;
}


#arrow-container{
  position: absolute;
  z-index: 10000;
  bottom: 5%;
  left: 50%;
  transform: rotate(90deg);
  color: white;
  background: #FF8900;
  padding: 10px;
}

#counter-container{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  
  background-color: white;
  color: #73D3D2;
  /* height: 300px; */
}

.counter-children{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.counter-children span{
  display: block;
}

.counter-children img{
  width: 100%;
  height: 100%;
  /* max-width: 80px; */
  margin: 0 auto;
}

/* carousel */
#brand-carousel{
  background-color: white;
  color: #73D3D2;
  /* padding: 5%; */
  /* border: 5px solid red; */
  /* margin-bottom: 10%; */
}


/* react carousel */
.carousel .slide{
  background-color: white !important;
}

.carousel img{
  background: white;
  max-width: 250px !important;
  /* height: 100%; */
}

.control-dots{
  display: none;
}

.carousel-status{
  display: none;
}

.carousel-root{
  padding-top: 10%;
}

.carousel-root{
  padding: 0;
}

.slide{
  display: flex;
  justify-content: center;
  align-items: center;
}


/* slick carousel */
.slick-initialized .slick-slide{
  display: flex !important;
  justify-content: center;
  align-items: center;
  margin-top: 1%;
}

.slick-slide img{
  max-width: 200px;
}

.slick-track{
  display: flex !important;
  justify-content: center;
  align-items: center;
}

#social-container{
  background-color: white;
  color: #73D3D2;
  padding-top: 5%;
}

#community-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
}

#community-container hr{
  width: 40%;
}

#community-container p{
  margin: 0 auto;
}

.counter-children a{
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
}

.counter-children a:hover{
  /* box-shadow: 1px 1px 1px 1px; */
}

.visit-button{
  margin-top: 10%;
  background-color: white;
  width: 80px;
  height: 40px;
  border: 2px solid #73D3D2;
  outline: none;
  border-radius: 5px;
  color: #73D3D2;
  cursor: pointer;
  transition: 0.2s;
}
.visit-button:hover{
  background-color: #73D3D2;
  color: white;
}

.vertical-nav-container{
  flex-direction: column;
  width: fit-content;
  height: 100%;
}

.vertical-social-container{
  order: 2;
  flex-direction: column;
}

#footer-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #73D3D2;
  color: rgb(167, 167, 167);
  width: 100%;
  margin: 0 auto;
  font-size: 0.9em;
  margin-bottom: 5%;
  margin-top: 5%;
}

video{
  width: 100%;
}

#main-booking-container{
  padding: 10%;
  color: white;
}